<div>
* This is a reference draft
</div>
<div>
** Kindly make sure details provided in the form are correct and share the draft with all participants before booking an appointment
</div>

<!-- 
Particulars	Amount Paid	GRN / Transaction id	Date
Stamp Duty			
Registration Fee		
 -->

<div class="particulars">
    <div class="particulars-row">
        <div class="particulars-cell">Particulars</div>
        <div class="particulars-cell">Amount</div>
        <div class="particulars-cell">Paid</div>
        <div class="particulars-cell">GRN / Transaction id</div>
        <div class="particulars-cell">Date</div>
    </div>
    <div class="particulars-row">
        <div class="particulars-cell">Stamp Duty</div>
        <div class="particulars-cell"></div>
        <div class="particulars-cell"></div>
        <div class="particulars-cell"></div>
        <div class="particulars-cell"></div>
    </div>
    <div class="particulars-row">
        <div class="particulars-cell">Registration Fee</div>
        <div class="particulars-cell"></div>
        <div class="particulars-cell"></div>
        <div class="particulars-cell"></div>
        <div class="particulars-cell"></div>
    </div>
</div>

<h3 class="textcenter">Leave and license agreement</h3>
<div class="textcenter">Between</div>
<div>
Name : {{form.first}} {{form.last}}, Age: About  Years, Gender: , having UID , PAN  . Residing at: , , , , , 
Phone number : , email : 
</div>
<!-- <div>{{form | json}}</div> -->