
<form clrStepper [formGroup]="form" (ngSubmit)="submit()" class="gavel-forms-stepper clr-form-horizontal">
    <div>Progress </div>
    <div class="progress-static labeled" style="margin-bottom: 0.5rem;">    
        <div class="progress-meter" data-value="87" data-displayval="87%"></div>
        <span>87%</span>
    </div>
    <clr-stepper-panel formGroupName="licensor">
      <clr-step-title>Licensor</clr-step-title>
      <clr-step-content *clrIfExpanded>
        <clr-input-container layout="horizontal">
          <label>Full Name</label>
          <input clrInput formControlName="licensor.fullname" />
          <clr-control-error *clrIfError="'required'">Full Name Required</clr-control-error>
        </clr-input-container>
  
        <clr-input-container>
          <label>Age</label>
          <input clrInput formControlName="licensor.age" />
          <clr-control-error *clrIfError="'required'">Age Required</clr-control-error>
        </clr-input-container>

        <clr-select-container>
          <label>Gender</label>
          <select clrSelect formControlName="licensor.gender">
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
          </select>
        </clr-select-container>

        <clr-input-container>
          <label>UID</label>
          <input clrInput formControlName="licensor.uid" />
          <clr-control-error *clrIfError="'required'">UID Required</clr-control-error>
        </clr-input-container>
  
        <clr-input-container>
          <label>PAN</label>
          <input clrInput formControlName="licensor.pan" />
          <clr-control-error *clrIfError="'required'">PAN Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Address</label>
          <input clrInput formControlName="licensor.address" />
          <clr-control-error *clrIfError="'required'">Address Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>City</label>
          <input clrInput formControlName="licensor.city" />
          <clr-control-error *clrIfError="'required'">City Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Pincode</label>
          <input clrInput formControlName="licensor.pincode" />
          <clr-control-error *clrIfError="'required'">Pincode Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Phone</label>
          <input clrInput formControlName="licensor.phone" />
          <clr-control-error *clrIfError="'required'">Phone Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Email</label>
          <input clrInput formControlName="licensor.email" />
          <clr-control-error *clrIfError="'required'">Email Required</clr-control-error>
        </clr-input-container>
        <button clrStepButton="next">next</button>
      </clr-step-content>
    </clr-stepper-panel>

    <clr-stepper-panel formGroupName="licensee">
      <clr-step-title>Licensee</clr-step-title>
      <clr-step-content *clrIfExpanded>
        <clr-input-container layout="horizontal">
          <label>Full Name</label>
          <input clrInput formControlName="licensor.fullname" />
          <clr-control-error *clrIfError="'required'">Full Name Required</clr-control-error>
        </clr-input-container>
  
        <clr-input-container>
          <label>Age</label>
          <input clrInput formControlName="licensor.age" />
          <clr-control-error *clrIfError="'required'">Age Required</clr-control-error>
        </clr-input-container>

        <clr-select-container>
          <label>Gender</label>
          <select clrSelect formControlName="licensor.gender">
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
          </select>
        </clr-select-container>

        <clr-input-container>
          <label>UID</label>
          <input clrInput formControlName="licensor.uid" />
          <clr-control-error *clrIfError="'required'">UID Required</clr-control-error>
        </clr-input-container>
  
        <clr-input-container>
          <label>PAN</label>
          <input clrInput formControlName="licensor.pan" />
          <clr-control-error *clrIfError="'required'">PAN Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Address</label>
          <input clrInput formControlName="licensor.address" />
          <clr-control-error *clrIfError="'required'">Address Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>City</label>
          <input clrInput formControlName="licensor.city" />
          <clr-control-error *clrIfError="'required'">City Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Pincode</label>
          <input clrInput formControlName="licensor.pincode" />
          <clr-control-error *clrIfError="'required'">Pincode Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Phone</label>
          <input clrInput formControlName="licensor.phone" />
          <clr-control-error *clrIfError="'required'">Phone Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Email</label>
          <input clrInput formControlName="licensor.email" />
          <clr-control-error *clrIfError="'required'">Email Required</clr-control-error>
        </clr-input-container>
        <button clrStepButton="next">next</button>
      </clr-step-content>
    </clr-stepper-panel>
</form>