
<form clrStepper [formGroup]="form" (ngSubmit)="submit()" class="gavel-forms-stepper clr-form-horizontal">
    <div>Progress </div>
    <div class="progress-static labeled" style="margin-bottom: 0.5rem;">    
        <div class="progress-meter" data-value="87" data-displayval="87%"></div>
        <span>87%</span>
    </div>
    <clr-stepper-panel formGroupName="licensor">
      <clr-step-title>Licensor</clr-step-title>
      <clr-step-content *clrIfExpanded>
        <clr-input-container layout="horizontal">
          <label>Full Name</label>
          <input clrInput formControlName="fullname" />
          <clr-control-error *clrIfError="'required'">Full Name Required</clr-control-error>
        </clr-input-container>
  
        <clr-input-container>
          <label>Age</label>
          <input clrInput formControlName="age" />
          <clr-control-error *clrIfError="'required'">Age Required</clr-control-error>
        </clr-input-container>

        <clr-select-container>
          <label>Gender</label>
          <select clrSelect formControlName="gender">
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
          </select>
        </clr-select-container>

        <clr-input-container>
          <label>UID</label>
          <input clrInput formControlName="uid" />
          <clr-control-error *clrIfError="'required'">UID Required</clr-control-error>
        </clr-input-container>
  
        <clr-input-container>
          <label>PAN</label>
          <input clrInput formControlName="pan" />
          <clr-control-error *clrIfError="'required'">PAN Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Address</label>
          <input clrInput formControlName="address" />
          <clr-control-error *clrIfError="'required'">Address Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>City</label>
          <input clrInput formControlName="city" />
          <clr-control-error *clrIfError="'required'">City Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Pincode</label>
          <input clrInput formControlName="pincode" />
          <clr-control-error *clrIfError="'required'">Pincode Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Phone</label>
          <input clrInput formControlName="phone" />
          <clr-control-error *clrIfError="'required'">Phone Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Email</label>
          <input clrInput formControlName="email" />
          <clr-control-error *clrIfError="'required'">Email Required</clr-control-error>
        </clr-input-container>
        <button clrStepButton="next">next</button>
      </clr-step-content>
    </clr-stepper-panel>

    <clr-stepper-panel formGroupName="licensee">
      <clr-step-title>Licensee</clr-step-title>
      <clr-step-content *clrIfExpanded>
        <clr-input-container layout="horizontal">
          <label>Full Name</label>
          <input clrInput formControlName="fullname" />
          <clr-control-error *clrIfError="'required'">Full Name Required</clr-control-error>
        </clr-input-container>
  
        <clr-input-container>
          <label>Age</label>
          <input clrInput formControlName="age" />
          <clr-control-error *clrIfError="'required'">Age Required</clr-control-error>
        </clr-input-container>

        <clr-select-container>
          <label>Gender</label>
          <select clrSelect formControlName="gender">
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
          </select>
        </clr-select-container>

        <clr-input-container>
          <label>UID</label>
          <input clrInput formControlName="uid" />
          <clr-control-error *clrIfError="'required'">UID Required</clr-control-error>
        </clr-input-container>
  
        <clr-input-container>
          <label>PAN</label>
          <input clrInput formControlName="pan" />
          <clr-control-error *clrIfError="'required'">PAN Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Address</label>
          <input clrInput formControlName="address" />
          <clr-control-error *clrIfError="'required'">Address Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>City</label>
          <input clrInput formControlName="city" />
          <clr-control-error *clrIfError="'required'">City Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Pincode</label>
          <input clrInput formControlName="pincode" />
          <clr-control-error *clrIfError="'required'">Pincode Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Phone</label>
          <input clrInput formControlName="phone" />
          <clr-control-error *clrIfError="'required'">Phone Required</clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Email</label>
          <input clrInput formControlName="email" />
          <clr-control-error *clrIfError="'required'">Email Required</clr-control-error>
        </clr-input-container>
        <button clrStepButton="next">next</button>
        <!-- <button clrStepButton="submit">submit</button> -->

      </clr-step-content>
</clr-stepper-panel>
      <clr-stepper-panel formGroupName="agreement">
        <clr-step-title>Agreement</clr-step-title>
        <clr-step-content *clrIfExpanded>
          <clr-input-container layout="horizontal">
            <label>Total Duration in months (usually 11)</label>
            <input clrInput formControlName="totalduration" />
            <clr-control-error *clrIfError="'required'">Total Duration Required</clr-control-error>
          </clr-input-container>
    
          <!-- <button clrStepButton="next">next</button> -->
          <button clrStepButton="submit">submit</button>
  
        </clr-step-content>
    </clr-stepper-panel>
</form>